[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
fabric = "*"
jinja2 = "*"
mergedeep = "*"
mockito = "*"
pytest = "*"
pyyaml = "*"
utils = "*"

[dev-packages]

[requires]
python_version = "3.10"
