[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
mockito = "*"
pytest = "*"
pyyaml = "*"
utils = "*"
kitcontrol = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.10"
